.Joke {
    display: grid;
    grid-template-columns: 15% 75% 10%;
    align-items: center;
    border-bottom: 2px solid white;
    color: rgb(90, 88, 88);
    font-family: bold;
}
.Joke .fa-solid {
   color: purple;
   text-align: end;
   padding: 5px;
}
.Joke-score {
  border-radius: 50%;
  border: 2px solid red;
  padding: 7px 12px 7px 12px; 
  box-shadow: 0px 2px 10px grey;
  user-select: none;
}
.fa-arrow-up, .fa-arrow-down {
   margin: 10px;
    cursor: pointer;
}
.fa-arrow-up:hover {
    color: green;
    transform: translateY(-3px);
    transition: 0.7s
 }
 .fa-arrow-down:hover {
    color: red;
    transform: translateY(3px);
    transition: 0.7s
 }